# Przygotowanie danych

# Importowanie bibliotek

In [1]:
# Import the necessary packages
import os
import requests
import pickle
import pandas as pd

# Pobranie danych z serwisu justjoin.it

In [2]:
request = requests.get("https://justjoin.it/api/offers")
data = request.json()

df = pd.DataFrame.from_dict(data)

In [3]:
# Create dir and export csv file
os.makedirs("../../data", exist_ok=True)
df.to_csv("../../data/justjoin_jobs.csv")

# Dane

In [4]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,Mid-level Full Stack PHP Developer,pl. Trzech Krzyży,Warszawa,PL,"pl. Trzech Krzyży, Warszawa",php,remote,ZEME,http://www.zeme.com.pl,16,mid,52.2286437,21.0222993,2021-06-30T07:03:00.000Z,True,zeme-mid-level-full-stack-php-developer,"[{'type': 'b2b', 'salary': {'from': 6000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Bootstrap 4', 'level': 4}, {'name':...",True
1,Python Team Developer,Sienkiewicza 82,Białystok,PL,"Sienkiewicza 82, Białystok",python,remote,Polcode,http://www.polcode.com,130+,mid,53.1388238,23.170526,2021-06-30T05:32:48.718Z,True,polcode-python-team-developer-bialystok,"[{'type': 'b2b', 'salary': {'from': 9000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Django', 'level': 3}, {'name': 'Eng...",True
2,React Developer,Starowiślna 13,Kraków,PL,"Starowiślna 13, Kraków",javascript,remote,Polcode,http://www.polcode.com,130+,mid,50.058044,19.943362,2021-06-30T05:32:31.962Z,True,polcode-react-developer-krakow,"[{'type': 'b2b', 'salary': {'from': 7000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Redux / Mobx', 'level': 3}, {'name'...",True
3,Laravel Full Stack Developer,Starowiślna 13,Kraków,PL,"Starowiślna 13, Kraków",php,remote,Polcode,http://www.polcode.com,130+,mid,50.058044,19.943362,2021-06-30T05:31:41.328Z,True,polcode-laravel-full-stack-developer-krakow,"[{'type': 'b2b', 'salary': {'from': 7000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Laravel', 'level': 4}, {'name': 'En...",True
4,Magento Developer,Starowiślna 13,Kraków,PL,"Starowiślna 13, Kraków",php,office,Polcode,http://www.polcode.com,130+,mid,50.058044,19.943362,2021-06-30T05:31:23.365Z,True,polcode-magento-developer-krakow,"[{'type': 'b2b', 'salary': {'from': 13000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'HTML5 / CSS3', 'level': 3}, {'name'...",False

In [5]:
# Get info about columns type and non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4943 entries, 0 to 4942
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             4943 non-null   object
 1   street            4938 non-null   object
 2   city              4943 non-null   object
 3   country_code      4933 non-null   object
 4   address_text      4943 non-null   object
 5   marker_icon       4943 non-null   object
 6   workplace_type    4943 non-null   object
 7   company_name      4943 non-null   object
 8   company_url       4943 non-null   object
 9   company_size      4943 non-null   object
 10  experience_level  4943 non-null   object
 11  latitude          4943 non-null   object
 12  longitude         4943 non-null   object
 13  published_at      4943 non-null   object
 14  remote_interview  4943 non-null   bool
 15  id                4943 non-null   object
 16  employment_types  4943 non-null   object
 17  company_logo_url  4943 non-null   object
 18  skills            4943 non-null   object
 19  remote            4943 non-null   bool
dtypes: bool(2), object(18)
memory usage: 704.9+ KB

# Wartości Null

In [6]:
# Check null values
df.isnull().sum()

title                0
street               5
city                 0
country_code        10
address_text         0
marker_icon          0
workplace_type       0
company_name         0
company_url          0
company_size         0
experience_level     0
latitude             0
longitude            0
published_at         0
remote_interview     0
id                   0
employment_types     0
company_logo_url     0
skills               0
remote               0
dtype: int64

In [7]:
# Find null values in country_code column
df.loc[df["country_code"].isnull()]

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
936,.Net Developer,ul. Aleje Jerozolimskie 179,Warszawa,None,"ul. Aleje Jerozolimskie 179, Warszawa",net,remote,Pentacomp S.A.,http://www.pentacomp.pl,400,mid,52.2125194,20.9556897,2021-06-28T18:11:00.000Z,True,pentacomp-net-developer,"[{'type': 'b2b', 'salary': {'from': 14500, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'GIT/TFS', 'level': 3}, {'name': 'PL...",True
1357,NOC Technician (Tech Support Engineer),Na Kozłówce,Krakow,None,"Na Kozłówce, Krakow",support,partly_remote,Sperasoft,https://sperasoft.com/,300+,mid,51.921253,19.145759,2021-06-28T10:24:00.000Z,True,sperasoft-noc-technician-tech-support-engineer,"[{'type': 'b2b', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Linux', 'level': 3}, {'name': 'GNU'...",False
1890,.Net Developer,Aleja Jana Pawła II 80,Warszawa,None,"Aleja Jana Pawła II 80, Warszawa",net,partly_remote,GASPOL SA,http://www.gaspol.pl,550,mid,52.253984,20.984017,2021-06-27T13:00:00.000Z,True,gaspol-sa-net-developer,"[{'type': 'b2b', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Angular', 'level': 3}, {'name': 'AS...",False
2554,Senior Software Engineer,Kraków,Kraków,None,"Kraków, Kraków",java,remote,dotLinkers,http://dotlinkers.pl/,17,senior,51.921253,19.145759,2021-06-26T10:00:07.209Z,True,dotlinkers-senior-software-engineer-krakow,"[{'type': 'permanent', 'salary': {'from': 2000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'OOP', 'level': 3}, {'name': 'Spring...",True
2775,Data Governance Load Solution Specialist,"Poleczki 21, Platan Park",Warszawa,None,"Poleczki 21, Platan Park, Warszawa",data,partly_remote,METTLER TOLEDO,https://mettlertoledo.shorthandstories.com/pre...,550+,mid,51.921253,19.145759,2021-06-25T16:06:00.000Z,True,mettler-toledo-data-governance-load-solution-s...,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'ETL tools', 'level': 3}, {'name': '...",False
3136,Senior Web Engineer / Mid,ul. Nałęczowska 36C,Lublin,None,"ul. Nałęczowska 36C, Lublin",python,remote,Milo Solutions,https://www.milosolutions.com?utm_source=JustJ...,50-60,senior,51.921253,19.145759,2021-06-25T11:35:00.000Z,True,milo-solutions-senior-web-engineer-mid,"[{'type': 'b2b', 'salary': {'from': 16000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JavaScript', 'level': 4}, {'name': ...",True
3469,Frontend Developer,Centrum,Łódź,None,"Centrum, Łódź",javascript,office,AHEAD PROFESSIONALS SP. Z O.O.,https://aheadpro.pl,10-50,mid,51.921253,19.145759,2021-06-25T06:48:00.000Z,True,ahead-professionals-sp-z-o-o-frontend-developer,"[{'type': 'b2b', 'salary': {'from': 17000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JavaScript', 'level': 3}, {'name': ...",False
4226,Golang Software Engineer (SaaS start-up),Centrum,Warszawa,None,"Centrum, Warszawa",go,remote,Autopilot,https://autopilotapp.com/careers,45,senior,52.2293754,21.0131961,2021-06-23T05:22:00.000Z,False,autopilot-golang-software-engineer,"[{'type': 'permanent', 'salary': {'from': 2000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Microservices', 'level': 3}, {'name...",True
4381,Junior IT Support Specialist - part time,Ogińskiego 2,Bydgoszcz,None,"Ogińskiego 2, Bydgoszcz",support,partly_remote,Vivid Games S. A.,https://vividgames.com/,70,junior,51.921253,19.145759,2021-06-22T10:00:09.941Z,True,vivid-games-s-a-junior-it-support-specialist-p...,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'VPN', 'level': 2}, {'name': 'Mac OS...",False
4463,Specjalista ERP,Chwaszczyńska 135,Gdynia,None,"Chwaszczyńska 135, Gdynia",erp,partly_remote,FLOWAIR,http://www.flowair.pl,100-200,junior,54.4591851,18.4622458,2021-06-21T15:00:00.000Z,True,flowair-specjalista-erp,"[{'type': 'permanent', 'salary': {'from': 3600...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Oracle', 'level': 2}, {'name': 'ERP...",False

In [8]:
# Changing the values of the country_code from NaN to "PL"
df["country_code"] = df["country_code"].fillna("PL")

# Dodawanie nowych cech

## Rodzaj umowy

In [9]:
# Custom function
def get_contract_type(data):
    return data[0]["type"]

In [10]:
df["contract_type"] = df["employment_types"].apply(get_contract_type)

In [11]:
# Browsing unique contr"act types
df["contract_type"].unique()

array(['b2b', 'permanent', 'mandate_contract'], dtype=object)

## Wynagrodzenie (Target)

In [12]:
def get_salary(data, label="from"):
    if data[0]["salary"] is not None:
        return data[0]["salary"][label]
    else:
        return data[0]["salary"]
    
def get_currency(data):
    if data[0]["salary"] is not None:
        return data[0]["salary"]["currency"]
    else:
        return None

In [13]:
# Get salary min
df["salary_min"] = df["employment_types"].apply(get_salary)

# Get salary max
df["salary_max"] = df["employment_types"].apply(get_salary,label="to")

# Get currency
df["currency"] = df["employment_types"].apply(get_currency)

## Umiejętności i Technologie

### Technologie

In [14]:
# Get number of technology per offert
df["num_technology"] = df["skills"].apply(len)

In [15]:
# Custom function to get skills and level from dictionary

def get_skill(x):
    skills = []
    for num_skills in range(len(x)):
        try:
            skills.append(x[num_skills]["name"])
        except:
            continue
    return skills

def get_level(x):
    levels = []
    for num_skills in range(len(x)):
        try:
            levels.append(x[num_skills]["level"])
        except:
            continue
    return levels

In [16]:
df["technology"] = df["skills"].apply(get_skill)
df["levels"] = df["skills"].apply(get_level)

In [17]:
# Check our results
df[["technology", "levels"]]

                                         technology     levels
0                    [Bootstrap 4, jQuery, PHP 7.x]  [4, 4, 4]
1                         [Django, English, Python]  [3, 4, 5]
2     [Redux / Mobx, JavaScript (OOP/ES6), ReactJS]  [3, 4, 4]
3                    [Laravel, English, CSS / HTML]  [4, 4, 4]
4                  [HTML5 / CSS3, English, Magento]  [3, 4, 4]
...                                             ...        ...
4938                        [OOP, PHP 7, Symfony 3]  [3, 3, 3]
4939                    [ASP.NET Core, Angular, C#]  [3, 3, 3]
4940                       [TypeScript, CSS, HTML5]  [3, 4, 4]
4941                [MySQL, React, Node.js Express]  [5, 5, 5]
4942                    [GraphQL, MySQL, Symfony 4]  [2, 3, 4]

[4943 rows x 2 columns]

In [18]:
# Browsing unique marker_icon => technology
technologies = df["marker_icon"].unique()

## Koniec

In [20]:
# Show our dataframe
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,company_logo_url,skills,remote,contract_type,salary_min,salary_max,currency,num_technology,technology,levels
0,Mid-level Full Stack PHP Developer,pl. Trzech Krzyży,Warszawa,PL,"pl. Trzech Krzyży, Warszawa",php,remote,ZEME,http://www.zeme.com.pl,16,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Bootstrap 4', 'level': 4}, {'name':...",True,b2b,6000.0,10000.0,pln,3,"[Bootstrap 4, jQuery, PHP 7.x]","[4, 4, 4]"
1,Python Team Developer,Sienkiewicza 82,Białystok,PL,"Sienkiewicza 82, Białystok",python,remote,Polcode,http://www.polcode.com,130+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Django', 'level': 3}, {'name': 'Eng...",True,b2b,9000.0,16000.0,pln,3,"[Django, English, Python]","[3, 4, 5]"
2,React Developer,Starowiślna 13,Kraków,PL,"Starowiślna 13, Kraków",javascript,remote,Polcode,http://www.polcode.com,130+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Redux / Mobx', 'level': 3}, {'name'...",True,b2b,7000.0,14000.0,pln,3,"[Redux / Mobx, JavaScript (OOP/ES6), ReactJS]","[3, 4, 4]"
3,Laravel Full Stack Developer,Starowiślna 13,Kraków,PL,"Starowiślna 13, Kraków",php,remote,Polcode,http://www.polcode.com,130+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Laravel', 'level': 4}, {'name': 'En...",True,b2b,7000.0,14000.0,pln,3,"[Laravel, English, CSS / HTML]","[4, 4, 4]"
4,Magento Developer,Starowiślna 13,Kraków,PL,"Starowiślna 13, Kraków",php,office,Polcode,http://www.polcode.com,130+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'HTML5 / CSS3', 'level': 3}, {'name'...",False,b2b,13000.0,17000.0,pln,3,"[HTML5 / CSS3, English, Magento]","[3, 4, 4]"

### Eksport danych do pliku CSV

In [21]:
df.to_csv("../../data/justjoin_offers.csv", index=False)

In [22]:
df.to_pickle("../../data/justjoin_offers.data")