# Imports

In [1]:
# Import the necessary packages
import os
import requests
import pandas as pd

# Download data from justjoin.it API

Download data from justjoin.it api and save to `csv` file

In [2]:
request = requests.get("https://justjoin.it/api/offers")
data = request.json()

df = pd.DataFrame.from_dict(data)

# Create dir and export csv file
os.makedirs("../data", exist_ok=True)
df.to_csv("../data/justjoin_jobs.csv")

# Data Viewing

In [3]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,Młodszy programista Frontend,"Konstruktorska, 6",Warszawa,PL,"Konstruktorska, 6, Warszawa",javascript,partly_remote,TechOcean Sp. z o.o.,https://techocean.pl/,>20,junior,52.1857331,20.9932937,2021-06-22T19:18:47.821Z,False,techocean-sp-z-o-o-mlodszy-programista-fronten...,"[{'type': 'permanent', 'salary': {'from': 3000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JavaScript', 'level': 2}, {'name': ...",False
1,DevOps Engineer,Inflancka 4a,Warsaw,PL,"Inflancka 4a, Warsaw",devops,partly_remote,KMD Poland,http://www.kmdpoland.pl,500+,mid,52.2296756,21.0122287,2021-06-22T19:00:08.562Z,True,kmd-poland-devops-engineer-warsaw,"[{'type': 'b2b', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Azure', 'level': 2}, {'name': 'Soft...",False
2,DevOps Team Manager,Inflancka 4a,Warszawa,PL,"Inflancka 4a, Warszawa",devops,partly_remote,KMD Poland,http://www.kmdpoland.pl,500+,senior,52.2564853,20.9945967,2021-06-22T19:00:08.562Z,True,kmd-poland-devops-team-manager,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Software Development', 'level': 5},...",False
3,Product Owner Proxy,Marynarki Polskiej 163,Gdańsk,PL,"Marynarki Polskiej 163, Gdańsk",pm,remote,Neoteric,http://neoteric.eu,80+,mid,54.3721421,18.6343554,2021-06-22T19:00:08.562Z,True,neoteric-product-owner-proxy,"[{'type': 'b2b', 'salary': {'from': 6000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JS', 'level': 1}]",True
4,Experienced Java Developer,Krakowska 29D,Wrocław,PL,"Krakowska 29D, Wrocław",java,partly_remote,Bouncer,https://www.usebouncer.com,3-5,mid,51.091532,17.059592,2021-06-22T19:00:08.562Z,True,bouncer-experienced-java-developer-wroclaw,"[{'type': 'b2b', 'salary': {'from': 10000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'AWS', 'level': 4}, {'name': 'Spring...",False

In [4]:
# Get info about columns type and non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4945 entries, 0 to 4944
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             4945 non-null   object
 1   street            4940 non-null   object
 2   city              4945 non-null   object
 3   country_code      4939 non-null   object
 4   address_text      4945 non-null   object
 5   marker_icon       4945 non-null   object
 6   workplace_type    4945 non-null   object
 7   company_name      4945 non-null   object
 8   company_url       4945 non-null   object
 9   company_size      4945 non-null   object
 10  experience_level  4945 non-null   object
 11  latitude          4945 non-null   object
 12  longitude         4945 non-null   object
 13  published_at      4945 non-null   object
 14  remote_interview  4945 non-null   bool
 15  id                4945 non-null   object
 16  employment_types  4945 non-null   object
 17  company_logo_url  4945 non-null   object
 18  skills            4945 non-null   object
 19  remote            4945 non-null   bool
dtypes: bool(2), object(18)
memory usage: 705.2+ KB

# Null values

In [5]:
# Check null values
df.isnull().sum()

title               0
street              5
city                0
country_code        6
address_text        0
marker_icon         0
workplace_type      0
company_name        0
company_url         0
company_size        0
experience_level    0
latitude            0
longitude           0
published_at        0
remote_interview    0
id                  0
employment_types    0
company_logo_url    0
skills              0
remote              0
dtype: int64

In [6]:
# Find null values in country_code column
df.loc[df["country_code"].isnull()]

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
47,NOC Technician (Tech Support Engineer),Na Kozłówce,Krakow,None,"Na Kozłówce, Krakow",support,partly_remote,Sperasoft,https://sperasoft.com/,300+,mid,51.921253,19.145759,2021-06-22T15:32:23.400Z,True,sperasoft-noc-technician-tech-support-engineer,"[{'type': 'b2b', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Linux', 'level': 3}, {'name': 'GNU'...",False
227,.Net Developer,Aleja Jana Pawła II 80,Warszawa,None,"Aleja Jana Pawła II 80, Warszawa",net,partly_remote,GASPOL SA,http://www.gaspol.pl,550,mid,52.253984,20.984017,2021-06-22T13:02:00.000Z,True,gaspol-sa-net-developer,"[{'type': 'b2b', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Angular', 'level': 3}, {'name': 'AS...",False
588,Junior IT Support Specialist - part time,Ogińskiego 2,Bydgoszcz,None,"Ogińskiego 2, Bydgoszcz",support,partly_remote,Vivid Games S. A.,https://vividgames.com/,70,junior,51.921253,19.145759,2021-06-22T10:00:09.941Z,True,vivid-games-s-a-junior-it-support-specialist-p...,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'VPN', 'level': 2}, {'name': 'Mac OS...",False
592,Senior Software Engineer,Kraków,Kraków,None,"Kraków, Kraków",java,remote,dotLinkers,http://dotlinkers.pl/,17,senior,51.921253,19.145759,2021-06-22T10:00:09.941Z,True,dotlinkers-senior-software-engineer-krakow,"[{'type': 'permanent', 'salary': {'from': 2000...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Hadoop', 'level': 4}, {'name': 'Big...",True
962,Specjalista ERP,Chwaszczyńska 135,Gdynia,None,"Chwaszczyńska 135, Gdynia",erp,partly_remote,FLOWAIR,http://www.flowair.pl,100-200,junior,54.4591851,18.4622458,2021-06-21T15:00:00.000Z,True,flowair-specjalista-erp,"[{'type': 'permanent', 'salary': {'from': 3600...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Oracle', 'level': 2}, {'name': 'ERP...",False
3632,Senior Web Engineer / Mid,ul. Nałęczowska 36C,Lublin,None,"ul. Nałęczowska 36C, Lublin",python,remote,Milo Solutions,https://www.milosolutions.com?utm_source=JustJ...,50-60,senior,51.921253,19.145759,2021-06-17T12:00:10.039Z,True,milo-solutions-senior-web-engineer-mid,"[{'type': 'b2b', 'salary': {'from': 16000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JavaScript', 'level': 4}, {'name': ...",True

In [7]:
# Changing the values of the country_code from NaN to "PL"
df["country_code"] = df["country_code"].fillna("PL")

# Add some new features

## Contract type

In [8]:
# Custom function
def get_contract_type(data):
    return data[0]["type"]

In [9]:
df["contract_type"] = df["employment_types"].apply(get_contract_type)

In [10]:
# Browsing unique contr"act types
df["contract_type"].unique()

array(['b2b', 'permanent', 'mandate_contract'], dtype=object)

## Price (Target)

In [11]:
def get_salary(data, label="from"):
    if data[0]["salary"] is not None:
        return data[0]["salary"][label]
    else:
        return data[0]["salary"]
    
def get_currency(data):
    if data[0]["salary"] is not None:
        return data[0]["salary"]["currency"]
    else:
        return None

In [12]:
# Get salary min
df["salary_min"] = df["employment_types"].apply(get_salary)

# Get salary max
df["salary_max"] = df["employment_types"].apply(get_salary,label="to")

# Get currency
df["currency"] = df["employment_types"].apply(get_currency)

## Skills and Technology

## Technology

In [13]:
# Get number of technology per offert
df["num_technology"] = df["skills"].apply(len)

In [14]:
# Custom function to get skills and level from dictionary

def get_skill(x):
    skills = []
    for num_skills in range(len(x)):
        try:
            skills.append(x[num_skills]["name"])
        except:
            continue
    return skills

def get_level(x):
    levels = []
    for num_skills in range(len(x)):
        try:
            levels.append(x[num_skills]["level"])
        except:
            continue
    return levels

In [15]:
df["technology"] = df["skills"].apply(get_skill)
df["levels"] = df["skills"].apply(get_level)

In [16]:
# Check our results
df[["technology", "levels"]]

                                     technology     levels
0                 [UX Design, UI Design, Figma]  [4, 5, 5]
1                [JavaScript, Postman, Cypress]  [2, 3, 3]
2                      [REST API, GSUITE, JIRA]  [2, 2, 3]
3     [Responsive Web Design, WordPress, PHP 7]  [3, 3, 3]
4     [Test Automation, Testing Tools, Testing]  [3, 3, 3]
...                                         ...        ...
4925             [React, GitFLow, RWD HTML CSS]  [3, 3, 3]
4926              [Spring, Java 8, Spring Boot]  [3, 3, 4]
4927                                  [Angular]        [4]
4928            [MySQL, React, Node.js Express]  [5, 5, 5]
4929                [GraphQL, MySQL, Symfony 4]  [2, 3, 4]

[4930 rows x 2 columns]

In [17]:
# Browsing unique marker_icon => technology
technologies = df["marker_icon"].unique()

In [18]:
########################
# TO-DO
########################

# Create tech stack per technology
tech_stack = {}
for technology in technologies:
    frameworks = []
    technology_df = df.loc[df["marker_icon"] == technology]["technology"]
    for row in technology_df:
        frameworks.extend(row)
    tech_stack[technology] = list(set(frameworks))

# Results

In [19]:
# Show our dataframe
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,company_logo_url,skills,remote,contract_type,salary_min,salary_max,currency,num_technology,technology,levels
0,UI/UX Designer,Krucza 50,Warszawa,PL,"Krucza 50, Warszawa",ux,office,ShareSpace,http://www.sharespace.work,20+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'UX Design', 'level': 4}, {'name': '...",False,b2b,9000.0,12000.0,pln,3,"[UX Design, UI Design, Figma]","[4, 5, 5]"
1,Test Automation Engineer,ul. Krucza 50,Warszawa,PL,"ul. Krucza 50, Warszawa",testing,office,ShareSpace,http://www.sharespace.work,20+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JavaScript', 'level': 2}, {'name': ...",False,b2b,10000.0,12000.0,pln,3,"[JavaScript, Postman, Cypress]","[2, 3, 3]"
2,IT Support Specialist,Krucza 50,Warszawa,PL,"Krucza 50, Warszawa",support,office,ShareSpace,http://www.sharespace.work,20+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'REST API', 'level': 2}, {'name': 'G...",False,b2b,6000.0,8000.0,pln,3,"[REST API, GSUITE, JIRA]","[2, 2, 3]"
3,Programista Wordpress,Centrum,Kraków,PL,"Centrum, Kraków",php,office,L.GRANT,https://www.lgrant.com/,10,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Responsive Web Design', 'level': 3}...",False,permanent,7000.0,9000.0,pln,3,"[Responsive Web Design, WordPress, PHP 7]","[3, 3, 3]"
4,Tester / Analyst,Wołoska 5,Warszawa,PL,"Wołoska 5, Warszawa",testing,partly_remote,Turbine Analytics S.A.,http://turbineanalytics.com,33,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Test Automation', 'level': 3}, {'na...",False,b2b,6000.0,11000.0,pln,3,"[Test Automation, Testing Tools, Testing]","[3, 3, 3]"

# Export dataframe to CSV

In [20]:
df.to_csv("../data/justjoin_offers.csv", index=False)