# Imports

In [1]:
import ast
import requests
import pandas as pd

# Download data from justjoin.it API

In [2]:
request = requests.get("https://justjoin.it/api/offers")
data = request.json()

df = pd.DataFrame.from_dict(data)
df.to_csv("../data/justjoin_jobs.csv")

# Read file

In [3]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,Java Developer,Łopuszańska 95,Warszawa,PL,"Łopuszańska 95, Warszawa",java,partly_remote,SoftwarePlant,https://softwareplant.com/career/,150+,mid,52.1945495,20.9321051,2021-03-23T18:00:06.572Z,True,softwareplant-java-developer-a29c3089-2a97-4da...,"[{'type': 'mandate_contract', 'salary': {'from...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Clean Code', 'level': 4}, {'name': ...",False
1,DevOps,Karolkowa Business Center,Warszawa,PL,"Karolkowa Business Center, Warszawa",devops,remote,Britenet,http://www.britenet.com.pl,500+,mid,52.2340296,20.977031,2021-03-23T18:00:06.572Z,True,britenet-java-application-implementer,"[{'type': 'b2b', 'salary': {'from': 14000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JBoss', 'level': 4}, {'name': 'Apac...",True
2,UX Designer,Konopnickiej 14,Poznań,PL,"Konopnickiej 14, Poznań",ux,remote,DietLabs,https://dietlabs.pl,40-50,mid,52.4034336,16.9016877,2021-03-23T18:00:06.572Z,True,dietlabs-ux-designer,"[{'type': 'b2b', 'salary': {'from': 8000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'UX', 'level': 3}]",True
3,Senior DevOps Engineer - NSP/NMK Team,Zwycięstwa 13A,Gdańsk,PL,"Zwycięstwa 13A, Gdańsk",devops,office,Nike PCC,http://jobs.nike.com,"10,000+",senior,54.3711402,18.6279295,2021-03-23T18:00:06.572Z,True,nike-pcc-senior-devops-engineer-nsp-nmk-team,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Kubernetes', 'level': 4}, {'name': ...",False
4,Data Scientist,None,Wrocław,PL,", Wrocław",data,partly_remote,ManpowerGroup,http://www.experis.pl,4000,mid,51.1078852,17.0385376,2021-03-23T18:00:06.572Z,True,manpowergroup-data-scientist,"[{'type': 'b2b', 'salary': {'from': 11760, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Agile', 'level': 3}, {'name': 'Engl...",False

# Basic informations

In [4]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,Java Developer,Łopuszańska 95,Warszawa,PL,"Łopuszańska 95, Warszawa",java,partly_remote,SoftwarePlant,https://softwareplant.com/career/,150+,mid,52.1945495,20.9321051,2021-03-23T18:00:06.572Z,True,softwareplant-java-developer-a29c3089-2a97-4da...,"[{'type': 'mandate_contract', 'salary': {'from...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Clean Code', 'level': 4}, {'name': ...",False
1,DevOps,Karolkowa Business Center,Warszawa,PL,"Karolkowa Business Center, Warszawa",devops,remote,Britenet,http://www.britenet.com.pl,500+,mid,52.2340296,20.977031,2021-03-23T18:00:06.572Z,True,britenet-java-application-implementer,"[{'type': 'b2b', 'salary': {'from': 14000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JBoss', 'level': 4}, {'name': 'Apac...",True
2,UX Designer,Konopnickiej 14,Poznań,PL,"Konopnickiej 14, Poznań",ux,remote,DietLabs,https://dietlabs.pl,40-50,mid,52.4034336,16.9016877,2021-03-23T18:00:06.572Z,True,dietlabs-ux-designer,"[{'type': 'b2b', 'salary': {'from': 8000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'UX', 'level': 3}]",True
3,Senior DevOps Engineer - NSP/NMK Team,Zwycięstwa 13A,Gdańsk,PL,"Zwycięstwa 13A, Gdańsk",devops,office,Nike PCC,http://jobs.nike.com,"10,000+",senior,54.3711402,18.6279295,2021-03-23T18:00:06.572Z,True,nike-pcc-senior-devops-engineer-nsp-nmk-team,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Kubernetes', 'level': 4}, {'name': ...",False
4,Data Scientist,None,Wrocław,PL,", Wrocław",data,partly_remote,ManpowerGroup,http://www.experis.pl,4000,mid,51.1078852,17.0385376,2021-03-23T18:00:06.572Z,True,manpowergroup-data-scientist,"[{'type': 'b2b', 'salary': {'from': 11760, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Agile', 'level': 3}, {'name': 'Engl...",False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3930 entries, 0 to 3929
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             3930 non-null   object
 1   street            3919 non-null   object
 2   city              3930 non-null   object
 3   country_code      3926 non-null   object
 4   address_text      3930 non-null   object
 5   marker_icon       3930 non-null   object
 6   workplace_type    3930 non-null   object
 7   company_name      3930 non-null   object
 8   company_url       3930 non-null   object
 9   company_size      3930 non-null   object
 10  experience_level  3930 non-null   object
 11  latitude          3930 non-null   object
 12  longitude         3930 non-null   object
 13  published_at      3930 non-null   object
 14  remote_interview  3930 non-null   bool
 15  id                3930 non-null   object
 16  employment_types  3930 non-null   object
 17  company_logo_url  3930 non-null   object
 18  skills            3930 non-null   object
 19  remote            3930 non-null   bool
dtypes: bool(2), object(18)
memory usage: 560.5+ KB

# Null values

In [6]:
df.isnull().sum()

title                0
street              11
city                 0
country_code         4
address_text         0
marker_icon          0
workplace_type       0
company_name         0
company_url          0
company_size         0
experience_level     0
latitude             0
longitude            0
published_at         0
remote_interview     0
id                   0
employment_types     0
company_logo_url     0
skills               0
remote               0
dtype: int64

In [7]:
df.loc[df['country_code'].isnull() == True]

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
89,Senior Java Developer with Russian,Marszałkowska,Warszawa,None,"Marszałkowska, Warszawa",java,remote,ZeptoLab,https://www.zeptolab.com/,120,senior,52.228181,21.0125682,2021-03-23T15:17:00.000Z,True,zeptolab-senior-java-developer-with-russian,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Shell Scripting', 'level': 4}, {'na...",True
1472,Senior Data Scientist,Marynarska 12,Warszawa,None,"Marynarska 12, Warszawa",data,remote,T-Mobile Polska S.A.,https://www.t-mobile.pl/,4500,senior,51.921253,19.145759,2021-03-21T12:00:09.883Z,False,t-mobile-polska-s-a-senior-data-scientist-ad42...,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'SQL', 'level': 4}, {'name': 'Data S...",True
2250,Site Reliability Engineer,Centrum,Warszawa,None,"Centrum, Warszawa",devops,remote,EliteHunter.pl,http://www.elitehunter.pl,2,mid,52.2293754,21.0131961,2021-03-19T13:44:00.000Z,True,elitehunter-pl-site-reliability-engineer,"[{'type': 'permanent', 'salary': {'from': 1700...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Kubernetes', 'level': 3}, {'name': ...",True
2276,Senior Shopify Developer,Wołoska 9,Warszawa,None,"Wołoska 9, Warszawa",html,remote,Relyon IT Services,https://rits.center/,300,senior,51.921253,19.145759,2021-03-19T13:00:08.883Z,True,relyon-it-services-senior-shopify-developer,"[{'type': 'b2b', 'salary': {'from': 15000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'HTML', 'level': 4}, {'name': 'CSS',...",True

In [8]:
df['country_code'] = df['country_code'].fillna('PL')

In [9]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,experience_level,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote
0,Java Developer,Łopuszańska 95,Warszawa,PL,"Łopuszańska 95, Warszawa",java,partly_remote,SoftwarePlant,https://softwareplant.com/career/,150+,mid,52.1945495,20.9321051,2021-03-23T18:00:06.572Z,True,softwareplant-java-developer-a29c3089-2a97-4da...,"[{'type': 'mandate_contract', 'salary': {'from...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Clean Code', 'level': 4}, {'name': ...",False
1,DevOps,Karolkowa Business Center,Warszawa,PL,"Karolkowa Business Center, Warszawa",devops,remote,Britenet,http://www.britenet.com.pl,500+,mid,52.2340296,20.977031,2021-03-23T18:00:06.572Z,True,britenet-java-application-implementer,"[{'type': 'b2b', 'salary': {'from': 14000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JBoss', 'level': 4}, {'name': 'Apac...",True
2,UX Designer,Konopnickiej 14,Poznań,PL,"Konopnickiej 14, Poznań",ux,remote,DietLabs,https://dietlabs.pl,40-50,mid,52.4034336,16.9016877,2021-03-23T18:00:06.572Z,True,dietlabs-ux-designer,"[{'type': 'b2b', 'salary': {'from': 8000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'UX', 'level': 3}]",True
3,Senior DevOps Engineer - NSP/NMK Team,Zwycięstwa 13A,Gdańsk,PL,"Zwycięstwa 13A, Gdańsk",devops,office,Nike PCC,http://jobs.nike.com,"10,000+",senior,54.3711402,18.6279295,2021-03-23T18:00:06.572Z,True,nike-pcc-senior-devops-engineer-nsp-nmk-team,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Kubernetes', 'level': 4}, {'name': ...",False
4,Data Scientist,None,Wrocław,PL,", Wrocław",data,partly_remote,ManpowerGroup,http://www.experis.pl,4000,mid,51.1078852,17.0385376,2021-03-23T18:00:06.572Z,True,manpowergroup-data-scientist,"[{'type': 'b2b', 'salary': {'from': 11760, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Agile', 'level': 3}, {'name': 'Engl...",False

# Add some new features

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3930 entries, 0 to 3929
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             3930 non-null   object
 1   street            3919 non-null   object
 2   city              3930 non-null   object
 3   country_code      3930 non-null   object
 4   address_text      3930 non-null   object
 5   marker_icon       3930 non-null   object
 6   workplace_type    3930 non-null   object
 7   company_name      3930 non-null   object
 8   company_url       3930 non-null   object
 9   company_size      3930 non-null   object
 10  experience_level  3930 non-null   object
 11  latitude          3930 non-null   object
 12  longitude         3930 non-null   object
 13  published_at      3930 non-null   object
 14  remote_interview  3930 non-null   bool
 15  id                3930 non-null   object
 16  employment_types  3930 non-null   object
 17  company_logo_url  3930 non-null   object
 18  skills            3930 non-null   object
 19  remote            3930 non-null   bool
dtypes: bool(2), object(18)
memory usage: 560.5+ KB

In [11]:
df['num_technology'] = [len(x) for x in df['skills']]

In [12]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,latitude,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote,num_technology
0,Java Developer,Łopuszańska 95,Warszawa,PL,"Łopuszańska 95, Warszawa",java,partly_remote,SoftwarePlant,https://softwareplant.com/career/,150+,...,52.1945495,20.9321051,2021-03-23T18:00:06.572Z,True,softwareplant-java-developer-a29c3089-2a97-4da...,"[{'type': 'mandate_contract', 'salary': {'from...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Clean Code', 'level': 4}, {'name': ...",False,3
1,DevOps,Karolkowa Business Center,Warszawa,PL,"Karolkowa Business Center, Warszawa",devops,remote,Britenet,http://www.britenet.com.pl,500+,...,52.2340296,20.977031,2021-03-23T18:00:06.572Z,True,britenet-java-application-implementer,"[{'type': 'b2b', 'salary': {'from': 14000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JBoss', 'level': 4}, {'name': 'Apac...",True,3
2,UX Designer,Konopnickiej 14,Poznań,PL,"Konopnickiej 14, Poznań",ux,remote,DietLabs,https://dietlabs.pl,40-50,...,52.4034336,16.9016877,2021-03-23T18:00:06.572Z,True,dietlabs-ux-designer,"[{'type': 'b2b', 'salary': {'from': 8000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'UX', 'level': 3}]",True,1
3,Senior DevOps Engineer - NSP/NMK Team,Zwycięstwa 13A,Gdańsk,PL,"Zwycięstwa 13A, Gdańsk",devops,office,Nike PCC,http://jobs.nike.com,"10,000+",...,54.3711402,18.6279295,2021-03-23T18:00:06.572Z,True,nike-pcc-senior-devops-engineer-nsp-nmk-team,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Kubernetes', 'level': 4}, {'name': ...",False,3
4,Data Scientist,None,Wrocław,PL,", Wrocław",data,partly_remote,ManpowerGroup,http://www.experis.pl,4000,...,51.1078852,17.0385376,2021-03-23T18:00:06.572Z,True,manpowergroup-data-scientist,"[{'type': 'b2b', 'salary': {'from': 11760, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Agile', 'level': 3}, {'name': 'Engl...",False,3

## Contract type

In [13]:
def get_contract_type(data):
    return data[0]['type']

In [14]:
df['contract_type'] = df['employment_types'].apply(lambda x: get_contract_type(x))

In [15]:
df['contract_type'].unique()

array(['mandate_contract', 'b2b', 'permanent'], dtype=object)

In [16]:
df.head()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,longitude,published_at,remote_interview,id,employment_types,company_logo_url,skills,remote,num_technology,contract_type
0,Java Developer,Łopuszańska 95,Warszawa,PL,"Łopuszańska 95, Warszawa",java,partly_remote,SoftwarePlant,https://softwareplant.com/career/,150+,...,20.9321051,2021-03-23T18:00:06.572Z,True,softwareplant-java-developer-a29c3089-2a97-4da...,"[{'type': 'mandate_contract', 'salary': {'from...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Clean Code', 'level': 4}, {'name': ...",False,3,mandate_contract
1,DevOps,Karolkowa Business Center,Warszawa,PL,"Karolkowa Business Center, Warszawa",devops,remote,Britenet,http://www.britenet.com.pl,500+,...,20.977031,2021-03-23T18:00:06.572Z,True,britenet-java-application-implementer,"[{'type': 'b2b', 'salary': {'from': 14000, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'JBoss', 'level': 4}, {'name': 'Apac...",True,3,b2b
2,UX Designer,Konopnickiej 14,Poznań,PL,"Konopnickiej 14, Poznań",ux,remote,DietLabs,https://dietlabs.pl,40-50,...,16.9016877,2021-03-23T18:00:06.572Z,True,dietlabs-ux-designer,"[{'type': 'b2b', 'salary': {'from': 8000, 'to'...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'UX', 'level': 3}]",True,1,b2b
3,Senior DevOps Engineer - NSP/NMK Team,Zwycięstwa 13A,Gdańsk,PL,"Zwycięstwa 13A, Gdańsk",devops,office,Nike PCC,http://jobs.nike.com,"10,000+",...,18.6279295,2021-03-23T18:00:06.572Z,True,nike-pcc-senior-devops-engineer-nsp-nmk-team,"[{'type': 'permanent', 'salary': None}]",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Kubernetes', 'level': 4}, {'name': ...",False,3,permanent
4,Data Scientist,None,Wrocław,PL,", Wrocław",data,partly_remote,ManpowerGroup,http://www.experis.pl,4000,...,17.0385376,2021-03-23T18:00:06.572Z,True,manpowergroup-data-scientist,"[{'type': 'b2b', 'salary': {'from': 11760, 'to...",https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Agile', 'level': 3}, {'name': 'Engl...",False,3,b2b

## Price

In [17]:
df['employment_types'][0]

[{'type': 'mandate_contract',
  'salary': {'from': 11000, 'to': 20000, 'currency': 'pln'}},
 {'type': 'b2b', 'salary': {'from': 11000, 'to': 20000, 'currency': 'pln'}}]

In [18]:
def get_salary(data, label="from"):
    if data[0]['salary'] is not None:
        return data[0]['salary'][label]
    else:
        return data[0]['salary']
    
def get_currency(data):
    if data[0]['salary'] is not None:
        return data[0]['salary']['currency']
    else:
        return None

In [19]:
df['salary_min'] = df['employment_types'].apply(lambda x: get_salary(x))
df['salary_max'] = df['employment_types'].apply(lambda x: get_salary(x, label="to"))
df['currency'] = df['employment_types'].apply(lambda x: get_currency(x))

## Skills and Technology

In [20]:
df['skills'] = df['skills'].apply(lambda x: list(x))

In [21]:
def get_skill(x):
    skills = []
    for num_skills in range(len(x)):
        try:
            skills.append(x[num_skills]['name'])
        except:
            continue
    return skills

def get_level(x):
    levels = []
    for num_skills in range(len(x)):
        try:
            levels.append(x[num_skills]['level'])
        except:
            continue
    return levels

In [22]:
df['technology'] = df['skills'].apply(lambda x: get_skill(x))
df['levels'] = df['skills'].apply(lambda x: get_level(x))

In [23]:
df.tail()

,title,street,city,country_code,address_text,marker_icon,workplace_type,company_name,company_url,company_size,...,company_logo_url,skills,remote,num_technology,contract_type,salary_min,salary_max,currency,technology,levels
3925,Embedded Software Engineer,Mokotów,Warsaw,PL,"Mokotów, Warsaw",c,partly_remote,UBUDU SAS,http://www.ubudu.com,10-15,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'C', 'level': 4}, {'name': 'C++', 'l...",False,3,b2b,5000.0,10000.0,pln,"[C, C++, Linux]","[4, 4, 4]"
3926,PHP Developer,Sierakowska 36,Poznań,PL,"Sierakowska 36, Poznań",php,remote,Trui,http://www.trui.pl,10+,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'Git', 'level': 3}, {'name': 'Larave...",True,3,b2b,8000.0,11000.0,pln,"[Git, Laravel, PHP]","[3, 3, 3]"
3927,Senior Ruby on Rails Developer,Chmielna 73,Warszawa,PL,"Chmielna 73, Warszawa",ruby,partly_remote,Roomzilla Poland sp. z o.o.,https://www.roomzilla.net,5-10,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'PostgreSQL', 'level': 4}, {'name': ...",False,3,b2b,14000.0,17000.0,pln,"[PostgreSQL, Ruby on Rails, Ruby]","[4, 5, 5]"
3928,JavaScript/DevOps Engineer,Sienna 83,Warszawa,PL,"Sienna 83, Warszawa",javascript,remote,Molecule.one,https://molecule.one/,10,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'CI', 'level': 4}, {'name': 'Git', '...",True,3,b2b,14000.0,20000.0,pln,"[CI, Git, AWS]","[4, 4, 4]"
3929,Ruby on Rails Developer,Otto Mønsteds Gade 5,København,DK,"Otto Mønsteds Gade 5, København",ruby,remote,Tjekvik,http://tjekvik.com,12,...,https://bucket.justjoin.it/offers/company_logo...,"[{'name': 'CSS', 'level': 1}, {'name': 'JavaSc...",True,3,b2b,3000.0,4000.0,eur,"[CSS, JavaScript, Ruby on Rails]","[1, 1, 3]"

In [24]:
technologies = df['marker_icon'].unique()

In [25]:
technology_dict = {}
for technology in technologies:
    frameworks = []
    technology_df = df.loc[df['marker_icon'] == technology]['technology']
    for row in technology_df:
        frameworks.extend(row)
    technology_dict[technology] = list(set(frameworks))

# Drop columns

In [26]:
df.columns

Index(['title', 'street', 'city', 'country_code', 'address_text',
       'marker_icon', 'workplace_type', 'company_name', 'company_url',
       'company_size', 'experience_level', 'latitude', 'longitude',
       'published_at', 'remote_interview', 'id', 'employment_types',
       'company_logo_url', 'skills', 'remote', 'num_technology',
       'contract_type', 'salary_min', 'salary_max', 'currency', 'technology',
       'levels'],
      dtype='object')

In [27]:
columns_to_drop = ['street', 'address_text', 'company_url', 'id', 'company_logo_url', 'employment_types', 'skills']

In [28]:
df = df.drop(labels=columns_to_drop, axis=1)

In [29]:
df.head()

,title,city,country_code,marker_icon,workplace_type,company_name,company_size,experience_level,latitude,longitude,published_at,remote_interview,remote,num_technology,contract_type,salary_min,salary_max,currency,technology,levels
0,Java Developer,Warszawa,PL,java,partly_remote,SoftwarePlant,150+,mid,52.1945495,20.9321051,2021-03-23T18:00:06.572Z,True,False,3,mandate_contract,11000.0,20000.0,pln,"[Clean Code, Spring, Java]","[4, 4, 4]"
1,DevOps,Warszawa,PL,devops,remote,Britenet,500+,mid,52.2340296,20.977031,2021-03-23T18:00:06.572Z,True,True,3,b2b,14000.0,18000.0,pln,"[JBoss, Apache Tomcat, Jenkins]","[4, 4, 5]"
2,UX Designer,Poznań,PL,ux,remote,DietLabs,40-50,mid,52.4034336,16.9016877,2021-03-23T18:00:06.572Z,True,True,1,b2b,8000.0,12000.0,pln,[UX],[3]
3,Senior DevOps Engineer - NSP/NMK Team,Gdańsk,PL,devops,office,Nike PCC,"10,000+",senior,54.3711402,18.6279295,2021-03-23T18:00:06.572Z,True,False,3,permanent,NaN,NaN,None,"[Kubernetes, AWS, CI/CD]","[4, 4, 5]"
4,Data Scientist,Wrocław,PL,data,partly_remote,ManpowerGroup,4000,mid,51.1078852,17.0385376,2021-03-23T18:00:06.572Z,True,False,3,b2b,11760.0,16800.0,pln,"[Agile, English, R]","[3, 4, 5]"

# Export new dataset

In [30]:
df.to_csv("../data/clear_data.csv", index=False)